<!-- sidebar -->
<div class="sidebar" th:fragment="sidebar"> <!-- start:sidebar -->
    <div class="sidebar-inner"> <!-- start:sidebar-inner -->
        <!-- profile -->
        <div th:replace="~{fragments/profile :: profile}">Top Navbar Menu</div>
        
        <!-- sidebar-navigation -->
        <ul>
            <li>
                <!-- <a href="#" class="active"> -->
                <a th:href="@{/}">
                    <span class="icon"><i class="fas fa-dice-d6"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/tasks}">
                    <span class="icon"><i class="fab fa-wpforms"></i></span>
                    <span class="title">Tasks</span>
                </a>
            </li>
            <li>
                <a th:href="@{/tutorials}">
                    <span class="icon"><i class="fab fa-elementor"></i></span>
                    <span class="title">Tutorials</span>
                </a>
            </li>
            <li>
                <a th:href="@{/reports}">
                    <span class="icon"><i class="fas fa-chart-pie"></i></span>
                    <span class="title">Reports</span>
                </a>
            </li>
        </ul>
        
        <!-- Settings and Version Section -->
        <div class="sidebar-footer">
            <!-- Horizontal line -->
            <hr class="sidebar-divider">

            <!-- Sidebar Footer Menu -->
            <ul class="sidebar-footer-menu">
                <!-- Admin Menu Item -->
                <li>
                    <a th:href="@{/admin}">
                        <span class="icon"><i class="fas fa-user-shield"></i></span>
                        <span class="title">Admin</span>
                    </a>
                </li>
                
                <!-- Settings Menu Item -->
                <li>
                    <a th:href="@{/settings}">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
            </ul>          
            
            <!-- Version -->
            <div class="sidebar-version">
                <span th:text="${appVersion != null ? appVersion : 'v0.0.1'}">v0.0.1</span>
            </div>
        </div>
    </div>
</div>

