{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
  {% block title %}
  Home
  {% endblock title %}
</h2>
{% endblock header %}

{% block content %}
<h2>Build a Scalable Flask Web Project From Scratch</h2>
<p>
  Flask is a powerful and flexible micro web framework for Python, ideal for both small and large web projects. It
  provides a straightforward way to get a web application up and running, with all the features that you need to get
  started.
</p>
<p>
  Over the course of this tutorial, you’ll explore the process of creating a boilerplate for a Flask web project. This
  boilerplate will serve as a great starting point for any scalable Flask web app that you wish to develop in the
  future, from basic web pages to complex web applications.
</p>
{% endblock content %}
