<header th:fragment="header">
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary rounded">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Lakra Inc</a>

            <!-- top navigation toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" 
                    aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- top navigation bar -->
            <div class="collapse navbar-collapse justify-content-between" id="topNavbar">
                <!-- left navigation items -->
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tasks}">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/tutorials}">Tutorials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact-us}">Contact Us</a>
                    </li>
                </ul>

                <!-- right navigation items -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/search}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Sign in</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</header>
