<!-- menu-navbar -->
<div class="top_navbar" th:fragment="menu-navbar">
    <!-- hamburger -->
    <div class="hamburger">
        <div class="hamburger-inner">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>

    <!-- top-navbar-menu -->
    <div class="menu">
        <div class="logo">
            Lakra Inc
        </div>
        <div class="right_menu">
            <ul>
                <li><i class="fas fa-user"></i>
                    <div class="profile-menu">
                        <a th:href="@{/settings}" class="profile-menu-item">Profile</a>
                        <a th:href="@{/settings#account-change-password}" class="profile-menu-item">Change Password</a>
                        <a th:href="@{/logout}" class="profile-menu-item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

