<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<!-- body -->

<body> <!-- start:body -->

    <!-- contents -->
    <section layout:fragment="contents"> <!-- start:section:contents -->
        <!-- start:contents -->
        <div class="box-block"> <!-- start:header -->
            <!-- start:contents -->
            <h1 class="text-center mb-4">[[${pageTitle}]]</h1>
            <div class="form-container"> <!-- start:form-container -->
                <form class="form-contents" th:action="@{/tasks/save}" th:object="${task}" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" />

                    <div class="row align-items-center">
                        <label class="col-sm-2 col-form-label" for="name">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" th:field="*{name}" required placeholder="Name"
                                minlength="2" maxlength="128" id="name" />
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <label class="col-sm-2 col-form-label" for="description">Description</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" th:field="*{description}" placeholder="Description"
                                minlength="2" maxlength="256" id="description" />
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <label class="col-sm-2 col-form-label" for="priority">Priority</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" step="1" th:field="*{priority}" required min="1"
                                id="priority" />
                        </div>
                    </div>

                    <div class="mb-3 row align-items-center">
                        <label class="col-sm-2 col-form-label" for="completed">Completed</label>
                        <div class="col-sm-10 d-flex align-items-center">
                            <input class="form-check-input me-2" type="checkbox" th:field="*{completed}"
                                id="completed" />
                        </div>
                    </div>

                    <!-- <div class="form-check d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" th:field="*{completed}" id="completed" />
                        <label class="form-check-label mb-0" for="completed">Completed</label>
                    </div> -->

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="button" class="btn btn-secondary" id="btnCancel"
                            th:attr="data-cancel-url=@{/tasks}">Cancel</button>
                    </div>
                </form>
            </div> <!-- end:form-container -->

            <!-- end:contents -->
        </div> <!-- end:header -->

        <!-- javascript -->
        <script type="text/javascript" th:src="@{/js/form-actions.js}"></script>

    </section> <!-- end:section:contents -->

</body>

</html>