<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<!-- body -->

<body> <!-- start:body -->

    <!-- contents -->
    <section layout:fragment="contents"> <!-- start:section:contents -->
        <!-- start:contents -->
        <div class="box-block"> <!-- start:box-block -->
            <!-- start:contents -->
            <h1 class="text-center">Tasks</h1>

            <!-- Success Alert (auto-dismisses after 5 seconds) -->
            <div th:replace="~{fragments/alert :: alert (type=${'success'}, message=${message})}"></div>

            <div class="form-container"> <!-- start:form-container -->
                <form class="form-contents" th:action="@{/tasks}">
                    <div class="row g-3 align-items-center">
                        <!-- search-row -->
                        <div class="d-flex gap-2 align-items-center">
                            <input type="text" id="keyword" name="keyword" th:value="${keyword}" required
                                placeholder="Search ..." class="form-control flex-grow-1">
                            <button class="btn btn-primary" type="submit" title="Search">
                                <i class="fas fa-search me-1"></i>Search
                            </button>
                            <button class="btn btn-outline-secondary" id="btnClearTask" type="button"
                                th:attr="data-tasks-url=@{/tasks}"><i class="fas fa-undo me-1"></i>Clear
                            </button>
                            <button class="btn btn-primary" id="btnAddTask" type="button"
                                th:attr="data-add-url=@{/tasks/add}"><i class="fas fa-plus me-1"></i>Add
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!-- end:form-container -->
        </div> <!-- end:box-block -->

        <div class="box-block"> <!-- start:box-block -->
            <div th:if="${tasks.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Completed</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="task : ${tasks}">
                                <th scope="row">[[${task.id}]]</th>
                                <td>[[${task.name}]]</td>
                                <td>[[${task.description}]]</td>
                                <td>[[${task.priority}]]</td>
                                <td>
                                    <a th:classappend="${task.completed} ? 'fas fa-check-square text-success' : 'far fa-square'"
                                        th:href="@{'/tasks/' + ${task.id} + '/completed/' + ${!task.completed}}"
                                        th:title="${task.completed} ? 'Disable Task' : 'Enable Task'"
                                        style="text-decoration: none; font-size: 1.2em;"></a>
                                </td>
                                <td>
                                    <a class="fas fa-edit" th:href="@{'/tasks/' + ${task.id}}" title="Edit Task">
                                    </a>
                                    &nbsp;
                                    <a class="fas fa-trash-alt btn-delete" th:href="@{'/tasks/delete/' + ${task.id}}"
                                        th:attr="data-title=${task.name}, data-type='Task'" title="Delete Task">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:unless="${tasks.size() > 0}">
                <span>No tasks found!</span>
            </div>

            <!-- end:contents -->
        </div> <!-- end:box-block -->

        <!-- Modal Dialogs -->
        <div th:replace="~{fragments/modal-dialogs :: modal-dialogs}"></div>

        <!-- javascript -->
        <script type="text/javascript" th:src="@{/js/task-actions.js}"></script>

    </section> <!-- end:section:contents -->

</body>

</html>