<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{${version} + '/fragments/head' :: head}">Head</div>

<body>
    <div class="wrapper">
        <!-- top_navbar -->
        <div class="top_navbar">
            <div th:replace="~{${version} + '/fragments/hamburger' :: hamburger}">Hamburger</div>
            <div th:replace="~{${version} + '/fragments/menu-navbar' :: menu-navbar}">Navbar Menu</div>
        </div>

        <!-- main_container -->
        <div class="main_container">
            <!-- sidebar -->
            <div th:replace="~{${version} + '/fragments/sidebar' :: sidebar}">Sidebar</div>
            <!-- container -->
            <div class="container">
                <h2 class="text-center">[[${pageTitle != null ? pageTitle : 'Todo Details'}]]</h2>

                <div class="my-3">
                    <form th:action="@{'/' + ${version} + '/todos/save'}" method="post" enctype="multipart/form-data"
                        th:object="${todo}" style="max-width: 550px; margin: 0 auto">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{type}" />

                        <div class="p-3">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="name">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{name}" required minlength="2" maxlength="128"
                                        class="form-control" id="name" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="description">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{description}" minlength="2" maxlength="256"
                                        class="form-control" id="description" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" for="priority">Priority</label>
                                <div class="col-sm-9">
                                    <input type="number" step="1" th:field="*{priority}" required min="1"
                                        class="form-control" id="priority" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-check-label" for="completed">Completed</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" th:field="*{completed}" />
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
                                <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{${version} + '/fragments/footer' :: footer}">footer</div>

    <!-- javascript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCancel").on("click", function () {
                window.location = "[[@{'/' + ${version} + '/todos'}]]";
            });
        });
    </script>
</body>

</html>