<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<head>
    <title>Contact Us</title>
</head>

<body>

    <div layout:fragment="contents">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact Us</h1>
                        <p>
                            ग्राहक बहुत महत्वपूर्ण है, ग्राहक का ग्राहक द्वारा अनुसरण किया जाएगा।
                            यह न तो शीर्षक है और न ही तत्व, बल्कि कभी-कभी एक संपत्ति है।
                            नाव और रियल एस्टेट डेवलपर।
                        </p>
                        <p>Please send your query and we are pleased to help you.</p>
                    </div>

                    <div class="col-md-12">
                        <p>Many regard syndication of site content as a Web 2.0 feature. Syndication uses standardized
                            protocols to permit end-users to make use of a site's data in another context (such as
                            another Web site, a browser plugin, or a separate desktop application). Protocols permitting
                            syndication include RSS (really simple syndication, also known as Web syndication), RDF (as
                            in RSS 1.1), and Atom, all of which are XML-based formats. Observers have started to refer
                            to these technologies as Web feeds.
                        </p>
                        <p>Ajax has prompted the development of Web sites that mimic desktop applications, such as word
                            processing, the spreadsheet, and slide-show presentation. WYSIWYG wiki and blogging sites
                            replicate many features of PC authoring applications. Several browser-based services have
                            emerged, including EyeOS[61] and YouOS.(No longer active.)[62] Although named operating
                            systems, many of these services are application platforms. They mimic the user experience of
                            desktop operating systems, offering features and applications similar to a PC environment,
                            and are able to run within any modern browser. However, these so-called "operating systems"
                            do not directly control the hardware on the client's computer. Numerous web-based
                            application services appeared during the dot-com bubble of 1997–2001 and then vanished,
                            having failed to gain a critical mass of customers.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:fragment="optional">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    </th:block>

</body>

</html>