<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}">Head</div>

<body>
    <div th:replace="~{fragments/header :: header}">Header</div>

    <div class="container">
        <h1 class="text-center">Home</h1>

        <div class="text-body">
            <p>
                Welcome to the Spring MVC Quickstart application!
            </p>
            <p>
                Get started quickly by signing up.
            </p>

            <p>
                This tutorial uses the Thymeleaf integration with the Spring Framework.
            </p>
        </div>

        <h2 class="text-center">Not Signed In</h2>

        <div class="my-3">
            <div class="row">
                <div class="col-md-6 mt-2">
                    <button class="btn btn-primary me-2" id="btnSignIn">Sign In</button>
                    <button class="btn btn-primary" id="btnSignUp">Sign Up</button>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer">Footer</div>

    <!-- inline script -->
    <script th:inline="javascript" type="text/javascript">
        /* Fill in modal with content loaded with Ajax */
        $(document).ready(function () {

            /**
             * Sign-In Button
             */
            // Modal handlers are managed by modals.js
            // Use data attributes to configure modal behavior
            $('#btnSignIn').attr({
                'data-modal': 'myModal',
                'data-modal-title': 'Sign In',
                'data-modal-url': 'signup'
            });

            $('#btnSignUp').attr({
                'data-modal': 'myModal',
                'data-modal-title': 'Sign Up',
                'data-modal-url': 'signup'
            });

        });
    </script>

    <!-- Modal Dialogs -->
    <div th:replace="~{fragments/modal-dialogs :: modal-dialogs}"></div>

</body>

</html>