<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}">Head</div>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 class="text-center">Home</h1>

    <div class="text-body">
        <p>
            Welcome to the Spring MVC Quickstart application!
        </p>
        <p>
            Get started quickly by signing up.
        </p>
        <p>
            This tutorial uses the Thymeleaf integration with the Spring Framework.
        </p>
    </div>

    <h2 class="text-center">Index Page</h2>

    <div class="my-3">
        <button class="btn btn-info" id="btnLogin" th:onclick="@{/login}">Sign In</button>
        <button class="btn btn-info" id="btnRegister" th:onclick="@{/register}">Sign Up</button>
        <!-- Trigger Button -->
        <button class="btn btn-info" onclick="showModalDialog('loginModalDialog')">Login</button>
        <button class="btn btn-info" onclick="showModalDialog('signUpModalDialog')">Register</button>
    </div>

</div>

<div th:replace="~{fragments/modal :: modal}">Modal</div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>

<!-- inline script -->
<script th:inline="javascript" type="text/javascript">

    /* Path Builder Helper Function */
    function pathSegment(...pathSegments) {
        pathString = window.location.origin;
        if (pathSegments) {
            pathString += "/" + pathSegments.join("/");
        }

        console.log("pathString" + pathString);
        return pathString;
    }

    /* Handle JavaScript Events */
    $(document).ready(function () {
        console.log("Page is ready!");

        $("#btnLogin").on("click", function (e) {
            e.preventDefault();
            urlString = pathSegment('login')
            console.log("urlString:" +urlString);
            window.location = urlString;
        });

        $("#btnRegister").on("click", function (e) {
            e.preventDefault();
            urlString = pathSegment('register')
            console.log("urlString:" +urlString);
            window.location = urlString;
        });

    });

</script>

</body>
</html>
