{% extends 'fragments/_base.html' %}

{% block header %}
<h2>
    {% block title %}
    About Us
    {% endblock title %}
</h2>
{% endblock header %}

{% block content %}
<h2>Transform Your Project Into a Package</h2>
<p>
    Packages are useful for structuring Python code into logical groupings for large programs. Because your web project
    can grow large, too, transforming your project into a package makes sense. Since you’re just at the start of the
    project, your to-do list to create the package has only three tasks:
</p>

<br>

{% endblock content %}
