<!-- contents-->
<div th:fragment="contents">
    <div class="item">
        कंपनी अपने आप में एक बहुत ही सफल कंपनी है।
        उन्हें स्वीकार नहीं किया जाना चाहिए; क्योंकि विपत्ति के समय वह पीछे हट जाते है; और एक से वे दर्द नहीं
        जानते।
        स्तुतियों के गुण चुनने की पीड़ा अचंभित करती है!
        मन के काम से क्या दर्द होता है मैं कम समझाऊंगा क्योंकि विपत्ति इस मामले में कुछ भी नहीं है?
    </div>
    <div class="item">
        कंपनी अपने आप में एक बहुत ही सफल कंपनी है।
        उन्हें स्वीकार नहीं किया जाना चाहिए; क्योंकि विपत्ति के समय वह पीछे हट जाते है; और एक से वे दर्द नहीं
        जानते।
        स्तुतियों के गुण चुनने की पीड़ा अचंभित करती है!
        मन के काम से क्या दर्द होता है मैं कम समझाऊंगा क्योंकि विपत्ति इस मामले में कुछ भी नहीं है?
    </div>
    <div class="item">
        कंपनी अपने आप में एक बहुत ही सफल कंपनी है।
        उन्हें स्वीकार नहीं किया जाना चाहिए; क्योंकि विपत्ति के समय वह पीछे हट जाते है; और एक से वे दर्द नहीं
        जानते।
        स्तुतियों के गुण चुनने की पीड़ा अचंभित करती है!
        मन के काम से क्या दर्द होता है मैं कम समझाऊंगा क्योंकि विपत्ति इस मामले में कुछ भी नहीं है?
    </div>
</div>
