<!-- footer -->
<footer class="text-center, contributor" th:fragment="footer">
    <!-- navbar-actions -->
    <script type="text/javascript" th:src="@{'/' + ${version} + '/js/navbar-actions.js'}"></script>

    <p>
        Copyright &copy; Lakra Inc
    </p>
    <p>
        Author: <a href="https://www.youtube.com/c/CodingMarket" rel="nofollow" target="_blank"> Thymeleaf Services </a>
        -
        Distributed By: <a title="Awesome web design code & scripts" href="https://www.rslaka.com?source=demo-page"
            target="_blank">RSLakra</a>
    </p>
</footer>