body {
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  /* width: 80%; */
}

label.label-bold {
  font-size: 18px;
}


/* Full-width input fields */
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  margin: 16px 0px 16px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 16px;
  margin: 8px 0;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* background-color: #f8f8f8; */
  font-size: 16px;
  resize: none;

}

/* Extra styles for the cancel button */
.cancel-button {
  width: auto;
  padding: 10px 16px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.img-container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 32%;
  border-radius: 50%;
}

.form-container {
  width: auto;
}

.container {
  padding: 16px;
}

.padding-check-box {
  padding-top: 16px;
  padding-bottom: 16px;
}


span.password {
  float: right;
  /* padding-top: 16px; */
}

span.label-required-star {
  color: red;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: block;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 1;
  left: 0;
  top: 0;
  /* Full width */
  /* width: 90%; */
  /* Full height */
  /* height: 90%; */
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 70px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.button-panel {
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 32px;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 800px) {
  span.password {
    display: block;
    float: none;
  }

  .cancel-button {
    width: 100%;
  }
}

/* @media (min-width: 640px) {
  .container {
    width: 480px;
  }
} */
