<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<!-- body -->

<body> <!-- start:body -->

    <!-- contents -->
    <section layout:fragment="contents"> <!-- start:section:contents -->
        <div class="box-block"> <!-- start:header -->
            <!-- start:contents -->
            <h2 class="text-center mb-4">[[${pageTitle}]]</h2>
            <div class="form-container"> <!-- start:form-container -->
                <form class="form-contents" th:action="@{/tutorials/save}" th:object="${tutorial}" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" />

                    <div class="mb-3 row align-items-center">
                        <label class="col-sm-2 col-form-label" for="title">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" th:field="*{title}" required placeholder="Title"
                                minlength="2" maxlength="128" id="title" />
                        </div>
                    </div>

                    <div class="mb-3 row align-items-center">
                        <label class="col-sm-2 col-form-label" for="description">Description</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" th:field="*{description}" placeholder="Description"
                                minlength="2" maxlength="256" id="description" />
                        </div>
                    </div>

                    <div class="mb-3 row align-items-center">
                        <label class="col-sm-2 col-form-label" for="level">Level</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="number" step="1" th:field="*{level}" required min="1"
                                id="level" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input me-2" type="checkbox" th:field="*{published}"
                                id="published" />
                            <label class="form-check-label mb-0" for="published">Published</label>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="button" class="btn btn-secondary" id="btnCancel"
                            th:attr="data-cancel-url=@{/tutorials}">Cancel</button>
                    </div>

                </form>
            </div> <!-- end:form-container -->

            <!-- end:contents -->
        </div> <!-- end:header -->

        <!-- javascript -->
        <script type="text/javascript" th:src="@{/js/form-actions.js}"></script>

    </section> <!-- end:section:contents -->

</body>

</html>