<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<!-- body -->

<body> <!-- start:body -->

    <!-- contents -->
    <section layout:fragment="contents"> <!-- start:section:contents -->
        <div class="box-block"> <!-- start:box-block -->
            <!-- start:contents -->
            <h1 class="text-center">Tutorials</h1>

            <!-- Success Alert (auto-dismisses after 5 seconds) -->
            <div th:replace="~{fragments/alert :: alert (type=${'success'}, message=${message})}"></div>

            <div class="form-container"> <!-- start:form-container -->
                <form class="form-contents" th:action="@{/tutorials}">
                    <div class="row g-3 align-items-center">
                        <!-- search-row -->
                        <div class="d-flex gap-2 align-items-center">
                            <input type="text" id="keyword" name="keyword" th:value="${keyword}" required
                                placeholder="Search ..." class="form-control flex-grow-1">
                            <button class="btn btn-primary" type="submit" title="Search">
                                <i class="fas fa-search me-1"></i>Search
                            </button>
                            <button class="btn btn-outline-secondary" id="btnClear" type="button"
                                th:attr="data-tutorials-url=@{/tutorials}"><i class="fas fa-undo me-1"></i>Clear
                            </button>
                            <button class="btn btn-primary" id="btnAddTutorial" type="button"
                                th:attr="data-add-url=@{/tutorials/add}"><i class="fas fa-plus me-1"></i>Add
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!-- end:form-container -->
        </div> <!-- end:box-block -->

        <div class="box-block"> <!-- start:box-block -->
            <div th:if="${tutorials.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Level</th>
                                <th scope="col">Published</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tutorial : ${tutorials}">
                                <th scope="row">[[${tutorial.id}]]</th>
                                <td>[[${tutorial.title}]]</td>
                                <td>[[${tutorial.description}]]</td>
                                <td>[[${tutorial.level}]]</td>
                                <td>
                                    <a th:classappend="${tutorial.published} ? 'fas fa-check-square text-success' : 'far fa-square'"
                                        th:href="@{'/tutorials/' + ${tutorial.id} + '/published/' + ${!tutorial.published}}"
                                        th:title="${tutorial.published} ? 'Disable Tutorial' : 'Enable Tutorial'"
                                        style="text-decoration: none; font-size: 1.2em;"></a>
                                </td>
                                <td>
                                    <a class="fas fa-edit" th:href="@{'/tutorials/' + ${tutorial.id}}"
                                        title="Edit this tutorial">
                                    </a>
                                    &nbsp;
                                    <a class="fas fa-trash-alt btn-delete"
                                        th:href="@{'/tutorials/delete/' + ${tutorial.id}}"
                                        th:attr="data-title=${tutorial.title}, data-type='Tutorial'"
                                        title="Delete this tutorial">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="" th:unless="${tutorials.size() > 0}">
                <span>No tutorials found!</span>
            </div>

            <!-- end:contents -->
        </div> <!-- end:box-block -->

        <!-- Modal Dialogs -->
        <div th:replace="~{fragments/modal-dialogs :: modal-dialogs}"></div>


        <!-- javascript -->
        <script type="text/javascript" th:src="@{/js/tutorial-actions.js}"></script>

    </section> <!-- end:section:contents -->

</body>

</html>