<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout-v0}">

<head>
    <title>Dashboard - The Thymeleaf Templates Service</title>
</head>

<body>
    <!-- contents -->
    <section layout:fragment="contents" class="home">
        <div class="text">Dashboard</div>

        <!-- Body Container -->
        <div class="text body-container">
            <p>
                An acronym is a word or name formed from the initial components of a longer name or phrase. Acronyms are
                usually formed from the initial letters of words, as in NATO (North Atlantic Treaty Organization), but
                sometimes use syllables, as in Benelux (short for Belgium, the Netherlands, and Luxembourg). They can
                also be a mixture, as in radar (Radio Detection And Ranging).
            </p>
            <p>
                Acronyms can be pronounced as words, like NASA and UNESCO; as individual letters, like FBI, TNT, and
                ATM; or as both letters and words, like JPEG (pronounced JAY-peg) and IUPAC. Some are not universally
                pronounced one way or the other and it depends on the speaker's preference or the context in which it is
                being used, such as SQL (either "sequel" or "ess-cue-el").
            </p>
            <p>
                The broader sense of acronym—the meaning of which includes terms pronounced as letters—is sometimes
                criticized, but it is the term's original meaning[1] and is in common use.[2] Dictionary and style-guide
                editors are not in universal agreement on the naming for such abbreviations, and it is a matter of some
                dispute whether the term acronym can be legitimately applied to abbreviations which are not pronounced
                "as words", nor do these language authorities agree on the correct use of spacing, casing, and
                punctuation.
            </p>
            <p>
                Abbreviations formed from a string of initials and usually pronounced as individual letters are
                sometimes more specifically called initialisms[3] or alphabetisms; examples are FBI from Federal Bureau
                of Investigation, and e.g. from Latin exempli gratia.
            </p>

            <a href="https://en.wikipedia.org/wiki/Acronym" target="_blank" rel="noopener noreferrer">Reference</a>
        </div>

    </section> <!-- section:home-end -->

</body>

</html>