<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}">Head</div>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 class="text-center">Contact Us</h1>

    <div class="text-body">
        
        <!-- contact-us form -->
        <form class="form-narrow form-horizontal" method="post" th:action="@{/contact-us}">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="First Name">

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name">

            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="India">India</option>
                <option value="Canada">Canada</option>
                <option value="United States">United States</option>
            </select>

            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something ..."></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer">Footer</div>

<!-- inline script -->
<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {

        console.log("Doc Ready!")

    });
</script>

</body>
</html>
