<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head> <!-- start:head -->
    <title>Thymeleaf Templates</title>
</head> <!-- end:head -->

<!-- Body -->

<body>

    <!-- Contents Section -->
    <div layout:fragment="contents">
        <section class="my-5">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">
                        <h1>Welcome to Lakra Inc!</h1>
                        <p>The Great Thymeleaf Templates Usage in the Web Applications</p>
                        <p>
                            जालानुप्रयोग (जाल-अनुप्रयोग) ऐसा अनुप्रयोग सॉफ्टवेयर होता है जो किसी जाल ब्राउज़र में चल
                            सके। इसका प्रयोग करने हेतु उपयोक्ता को अपने कम्प्यूटर पर जाल ब्राउज़र के अतिरिक्त किसी विशेष
                            सॉफ़्टवेयर को डालने की आवश्यकता नहीं होती। ई-मेल जैसे कई अनुप्रयोग, जिन्हें प्रयोग करने हेतु
                            1990 के दशक के मध्य तक उपयोक्ताओं को पहले अपनी यन्त्रों पर ई-मेल अनुप्रयोग डालना ज़रूरी था,
                            धीरे-धीरे जालानुप्रयोगों में परिवर्तित हो गए, जिस से उन्हें प्रयोग करना अति-सरल हो गया।
                            सामान्यतः पर जालानुप्रयोग अपना अधिकतर कार्य जालानुप्रयोग निर्माणकर्ता के सर्वरों पर करती है
                            जो कि उपयोक्ताओं से छुपा हुआ होता है।[1][2]
                        </p>
                        <p>Web 2.0 (also known as participative (or participatory)[1] web and social web)[2] refers to
                            websites that emphasize user-generated content, ease of use, participatory culture, and
                            interoperability (i.e., compatibility with other products, systems, and devices) for end
                            users.
                        </p>
                        <p>The term was coined by Darcy DiNucci in 1999[3] and later popularized by Tim O'Reilly and
                            Dale Dougherty at the first Web 2.0 Conference in 2004.[4][5][6] Although the term mimics
                            the numbering of software versions, it does not denote a formal change in the nature of the
                            World Wide Web;[7] the term merely describes a general change that occurred during this
                            period as interactive websites proliferated and came to overshadow the older, more static
                            websites of the original Web.[2]
                        </p>
                        <p>A Web 2.0 website allows users to interact and collaborate through social media dialogue as
                            creators of user-generated content in a virtual community. This contrasts the first
                            generation of Web 1.0-era websites where people were limited to passively viewing content.
                            Examples of Web 2.0 features include social networking sites or social media sites (e.g.,
                            Facebook), blogs, wikis, folksonomies ("tagging" keywords on websites and links), video
                            sharing sites (e.g., YouTube), image sharing sites (e.g., Flickr), hosted services, Web
                            applications ("apps"), collaborative consumption platforms, and mashup applications.
                        </p>
                    </div>

                    <div class="col-md-12">
                        <a href="https://en.wikipedia.org/wiki/Web_application" target="_blank"
                            rel="noopener noreferrer">Reference</a>
                    </div>

                    <div class="col-md-12">
                        <a class="nav-link" th:href="@{/v0}">V0</a>
                        <a class="nav-link" th:href="@{/v1}">V1</a>
                        <a class="nav-link" th:href="@{/v2}">V2</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>