<!-- Footer -->
<footer class="container footer w3-container w3-padding-64 w3-center w3-xlarge">
  <div>
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-flickr"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div>
    <!--
    {% block copyright %}
    <div class="footer">&copy; Copyright {{ copyright }}. All rights reserved.</div>
    {% endblock copyright %}
    -->
  </div>

  <div class="w3-medium">
    Powered by <span>&copy; 2024 RS Lakra. All rights reserved.</span>
  </div>

</footer>
