<!-- Fixed/Top Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('ws.webapp.index') }}">
        <img style="width: 28px;" src="{{ url_for('static', filename='images/webapp-logo.png') }}" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('ws.webapp.index') }}">Home</a></li>
        <li><a href="{{ url_for('ws.webapp.about') }}">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('ws.webapp.index') }}">Posts</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('ws.webapp.about') }}">Comments</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('ws.webapp.clients') }}">Clients</a></li>
        <li><a href="{{ url_for('ws.webapp.contact') }}">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('ws.webapp.logout') }}">Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('ws.webapp.about') }}">Notifications</a></li>
            <li><a href="{{ url_for('ws.webapp.contact') }}">Manage Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('ws.webapp.index') }}">Admin</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('ws.webapp.logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- Sidebar -->
<div id="sideNavBarDiv" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNavbar();">&times;</a>
  <a href="{{ url_for('ws.webapp.about') }}">About</a>
  <a href="{{ url_for('ws.webapp.services') }}">Services</a>
  <a href="{{ url_for('ws.webapp.clients') }}">Clients</a>
  <a href="{{ url_for('ws.webapp.contact') }}">Contact</a>
</div>
